*{
    margin: 0;
    padding: 0;
    // overflow: hidden;
}

// Mixins:
@mixin fontStyles{
    color: $textColour;
    font-size: 1em;
    font-family: 'Inter', sans-serif;

}

// Colours:
$backgroundColour: #17181F;
$textColour: #EEEDF0;
$accent: #6C72CB;
$contrast: #CB69C1;

body{
    background-color: #17181F;
    @include fontStyles();
}

.introContainer{
    position: relative;

    .introText{
        position: absolute;
        transform: translate(5vw, 27vh);

        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 24px 32px 32px 18px;
        grid-gap: 5px;

        grid-template-areas: 
            "h h h"
            "s s s"
            "n p p"
            "m m m"
        ;

        .hello{grid-area: h;}
        .generalTxt{grid-area: m;}
        span{
            size: 20px;
            color: $accent;
        }
        .name{
            grid-area: s;
            color: $accent;
            font-size: 2em;
            font-weight: 600;
            text-align: left;
        }
        .myPortfolio{
            grid-area: n;
            .pofo{grid-area: p;}
        }

    }
}