@use "../index/index";

nav{
    display: flex;
    justify-content: space-between;
    
    ul{
        margin: 10px;
        a{
            text-decoration: none;
            @include index.fontStyles;
        }
    }
}